In [4]:
print('Hello World!')
a=7
print(a)

print(2345)

print ("2090")

a = 100
#print(a)

b = "Python"
print(b)

Hello World!
7
2345
2090
Python

In [7]:
'''It's a course
named
"python"

hf'''
print(6)

6

In [8]:
print("Let's learn about comments.")
# print(it is a single line comment)
print("Icode")

Let's learn about comments.
Icode

In [ ]:
print("""Multi-line String""")
'''for multi-line comment, you can use # with every line or
simply use triple inverted commas(multi-line string).
ar
sar
ahghjj 
'''
#single line
print("My name is ayesha. I'm a student at university.I'm a good student.")

In [ ]:
a = "a variable"
is = "won't allow a variable"
print(a)
print(is)

In [ ]:
x = 5 
y = 10.3
print('x')
print(y)
print(x,y)


a = "Icode"
b = 'Guru,'
print(a,b)
print(a,',',b)   #Shortcut ctrl + /

myvariable = "Python"
print("myvariable")

In [ ]:
_myVar5 = "iCodeGuru"
myVariableName = 95                 
MyVariableName = 'Pakistan'         
myVariableName = 88.5 
print(myVariableName)

In [ ]:
a = 10
a = 5
print(a)

camelCase = 100
snake_case = 5.9
PascalCase = "Python"

In [ ]:
x, y, z = "Orange", 5, "Apple"
print(x)
print(y)
print(z)
a , b = 5 , 8
print(a)
print(b)

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)
a = b = c = 1
print(a)
print(b)
print(c)

b = 2
print(b)

#b = 45
print(b)

x , y, z , a = 5 , 6, 7  , 8
print(x)
print(y)
print(z)

In [ ]:
x = 5
y = 5
x = 10
print(x)
print(y)
print(id(x))
print(id(y))


x = "Hello"
print(id(x))
y = "Hello1"
print(id(y))

In [ ]:
string_var = "Programming"
first_var = 20
float_var = 18.23
bool_var = False


print(string_var)
print(first_var)
print(float_var)
print(bool_var)

In [ ]:
Var1 = 5
var1 = 1
print(var1)
print(Var1)
var2 = 2.5
print(type(var2))
var3 = """Hello"""
print(type(var3))
var4 = True
print(type(var4))

In [ ]:
first = "105"
print(type(first))
first = int(first)
print(first)
print(type(first))
second = 90.8
third = str(second)
print(third)
print(type(third))


string = False
string1 = str(string)
print(string1)
print(type(string1))

integer = 6
boolean = bool(integer)
print(boolean)

boolean = True
integer = int(boolean)
print(integer)

x = int(input("Enter anything"))
#print(x + 5)
#print(type(x))

print('My name is Tahmas.')
a = "6"

x = "Python is"
X = bool(x)
print(X)
print(type(X))

x = "Python is"
X = bool(x)
print(X)
print(type(X))

In [ ]:
a = int(input("Enter username: "))
print(a)
print(type(a))
print(a+2)

a = int(input("Enter username: "))
print(a)
print(type(a))
print(a+2)

In [ ]:
print(8.0+4)

#Addition
a = int(input("Enter a number "))
b = 4
c = a + b
print(c)
print(type(c))
#print(3 + 7)

In [ ]:
#Subtraction
a = 4
b = 5.0

print(a - b)
print(type(a - b))

]
#Subtraction
a = 4
b = 5.0

print(a - b)
print(type(a - b))

-1.0
<class 'float'>

In [ ]:
#Division
x = 5
y = 5
z = x/y   #12/5
print(z)
print(type(z))
var = int(z)
print(var, type(var))

1.0
<class 'float'>
1 <class 'int'>

In [ ]:
#Floor Division
x = 5
y = 5
z = x//y
print(z)
print(type(z))


#Floor Division
x = 5
y = 5
z = x//y
print(z)
print(type(z))
1
<class 'int'>

print(-3/2)

In [ ]:
#Exponentiation or Exponential
x = 5
y = 2   # 5 raised to power 2, 5*5
print(x**y)  # 1st value = base, 2nd value = power
print(type(x**y))

 ]
#Exponentiation or Exponential
x = 5
y = 2   # 5 raised to power 2, 5*5
print(x**y)  # 1st value = base, 2nd value = power
print(type(x**y))
25
<class 'int'>

In [ ]:
#Modulus
x = 5
y = 5
print(x%y)
print(type(x%y))

0
<class 'int'>

print(4 * 3 + 2 / 2)
# BODMAS

13.0

In [ ]:
#print('comment')
a = """mulitiline
comment
""
''
lsdfh"""
print(a)


#print('comment')
a = """mulitiline
comment
""
''
lsdfh"""
print(a)
mulitiline
comment
""
''
lsdfh

In [ ]:
print(12 + 5 * (4 - 2))

In [ ]:
x = 5
#x += 3    # x = x+3
#x -= 3      # x = x - 3
#x *= x       # x = 5*5
#x /= 3        # x = x/3
#x %= 3
#x //= 3
x **= 3       
print(x)